/*
    Global Styling
*/
*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
}

:root {
  /* #606c38 in RGB */
  --light-green: 96, 108, 56;
  /* #283618 in RGB */
  --dark-green: 40, 54, 24;
  /* #fefae0 in RGB */
  --off-white: 254, 250, 224;
  /* #dda15e in RGB */
  --light-brown: 221, 161, 94;
  /* #bc6c25 in RGB */
  --dark-brown: 188, 108, 37;
  --dark-gray: #191919;
}

body {
  font-family: 'Noto Serif', serif;
  color: var(--dark-gray);
}

h1 {
  font-weight: 700;
  font-size: 4rem;
}

h2 {
  font-weight: 400;
  font-size: 2.75rem;
}

a:visited {
  color: inherit;
}

/*
    Header Styling
*/
header {
  font-family: 'Bakbak One', cursive;
  display: flex;
  justify-content: space-between;
  padding: 1.25rem 5vw;
  background-color: rgba(var(--off-white), 0.25);
  box-shadow: 0px 10px 15px 5px rgba(0, 0, 0, 0.3);
  position: relative;
  z-index: 10;
  color: #fff;
}

header a {
  text-decoration-line: underline;
  text-decoration-style: solid;
  text-decoration-color: transparent;
  transition: all 0.25s ease;
}

header a:hover {
  text-decoration-color: rgb(var(--off-white));
  color: rgb(var(--off-white));
}

header a:active {
  color: rgb(var(--light-brown));
}

#logo {
  display: flex;
  align-items: center;
}

#logo img {
  width: 64px;
  margin-right: 0.75rem;
  transition: transform 0.5s ease;
}

#logo img:hover {
  transform: rotate(360deg);
}

#logo p {
  font-size: 2rem;
  line-height: 2rem;
}

nav {
  align-items: center;
  display: flex;
  font-size: 1.5rem;
}

nav ul {
  display: flex;
  gap: 4rem;
}

/*
    Mission Section Styling
*/
#mission {
  position: relative;
  margin-top: -6.5rem;
  padding: 15rem 5vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #fff;
  text-shadow: 3px 3px 10px rgba(0, 0, 0, 0.5);
  overflow: hidden;
}

#mission p {
  font-size: 1.5rem;
  margin-top: 2rem;
}

@keyframes slideInFromBottom {
  0% {
    transform: translateY(10%) scale(1.25);
    filter: blur(0px) brightness(65%);
  }
  100% {
    transform: translateY(0%) scale(1.25);
    filter: blur(3px) brightness(65%);
  }
}

#mission img {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
  filter: blur(3px) brightness(65%);
  transform: scale(1.25);
  z-index: -1;
  animation: 1s ease-in-out 0s 1 slideInFromBottom;
}

/*
    Products Section Styling
*/

/*
    Team Section Styling
*/
.team-item > img {
  border-radius: 50%;
  max-width: 200px;
}

/*
    Contact Section Styling
*/
