/*
    Global Styling
*/
*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
}

:root {
  /* #606c38 in RGB */
  --light-green: 96, 108, 56;
  /* #283618 in RGB */
  --dark-green: 40, 54, 24;
  /* #fefae0 in RGB */
  --off-white: 254, 250, 224;
  /* #dda15e in RGB */
  --light-brown: 221, 161, 94;
  /* #bc6c25 in RGB */
  --dark-brown: 188, 108, 37;
  --dark-gray: #191919;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: 'Noto Serif', serif;
  color: var(--dark-gray);
}

h1 {
  font-size: 5rem;
  margin-bottom: 1rem;
}

h2 {
  font-size: 3.25rem;
  text-align: center;
}

h3 {
  font-size: 2.25rem;
  font-weight: 400;
}

a:visited {
  color: inherit;
}

section:not(#mission) h2 {
  padding: 2rem;
  background-color: rgb(var(--off-white));
}

#toTopBtn {
  opacity: 0;
  position: fixed; /* Fixed/sticky position */
  bottom: 20px; /* Place the button at the bottom of the page */
  right: 30px; /* Place the button 30px from the right */
  z-index: 99; /* Make sure it does not overlap */
  border: none; /* Remove borders */
  outline: none; /* Remove outline */
  background-color: rgb(
    var(--dark-brown)
  ); /* Set a background color */
  color: white; /* Text color */
  cursor: pointer; /* Add a mouse pointer on hover */
  padding: 1rem 1rem 0.625rem 1rem; /* Some padding */
  border-radius: 10px; /* Rounded corners */
  font-size: 18px; /* Increase font size */
  transition: opacity 0.3s ease-in-out;
  box-shadow: 5px 5px 20px 0px rgba(0, 0, 0, 0.3);
}

#toTopBtn img {
  max-width: 24px;
  filter: invert();
  transform: rotate(180deg);
}

#toTopBtn:hover {
  background-color: rgba(
    var(--dark-brown),
    0.9
  ); /* Add a dark-grey background on hover */
}

/*
    Header Styling
*/
header {
  font-family: 'Bakbak One', cursive;
  display: flex;
  justify-content: space-between;
  padding: 1.25rem 5vw;
  background-color: rgba(var(--off-white), 0.25);
  box-shadow: 0px 10px 15px 5px rgba(0, 0, 0, 0.3);
  position: relative;
  z-index: 10;
  color: #fff;
}

#logo {
  display: flex;
  align-items: center;
}

#logo img {
  width: 64px;
  margin-right: 0.75rem;
  transition: transform 0.5s ease;
}

#logo:hover img {
  transform: rotate(360deg);
}

#logo p {
  font-size: 2rem;
  line-height: 2rem;
}

nav {
  align-items: center;
  display: flex;
  font-size: clamp(1rem, 0.6786rem + 1.4286vw, 1.75rem);
}

nav ul {
  display: flex;
  gap: 4rem;
}

nav a {
  text-decoration-line: underline;
  text-decoration-style: solid;
  text-decoration-color: transparent;
  transition: all 0.25s ease;
}

nav a:hover {
  text-decoration-color: rgb(var(--off-white));
  color: rgb(var(--off-white));
}

nav a:active {
  color: rgb(var(--light-brown));
}

/*
    Mission Section Styling
*/
#mission {
  position: relative;
  margin-top: -6.5rem;
  padding: 15rem 5vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #fff;
  text-shadow: 3px 3px 10px rgba(0, 0, 0, 0.5);
  overflow: hidden;
}

#mission h2 {
  font-weight: 400;
  margin-bottom: 3rem;
}

#mission p {
  font-size: 1.75rem;
}

@keyframes slideInFromBottom {
  0% {
    transform: translateY(10%) scale(1.25);
    filter: blur(0px) brightness(20%);
  }
  100% {
    transform: translateY(0%) scale(1.25);
    filter: blur(3px) brightness(50%);
  }
}

#mission img {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
  filter: blur(3px) brightness(50%);
  transform: scale(1.25);
  z-index: -1;
  animation: 2s ease-in-out 0s 1 slideInFromBottom;
}

/*
    Products Section Styling
*/
#products {
  background: rgb(var(--light-brown));
  background: linear-gradient(
    135deg,
    rgba(var(--light-brown), 1) 35%,
    rgba(var(--dark-brown), 1) 100%
  );
}

.img-right {
  flex-direction: row-reverse;
  text-align: right;
}

.product-card {
  display: flex;
}

.product-card img,
.product-details {
  flex: 1 0 50%;
}

.product-card img {
  max-height: 400px;
  object-fit: cover;
  transition: all 0.25s ease-in-out;
}

.product-card img:hover {
  transform: scale(1.01);
  box-shadow: 5px 5px 30px 0px rgba(25, 25, 25, 0.15);
}

.product-details {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0 3rem;
}

.product-details p {
  font-size: 1.25rem;
  line-height: 2rem;
}

.product-details * {
  padding-bottom: 1.5rem;
}

/*
    Team Section Styling
*/
#team {
  background: rgb(var(--light-green));
  background: linear-gradient(
    135deg,
    rgba(var(--light-green), 1) 55%,
    rgba(var(--dark-green), 1) 100%
  );
}

#team h3,
#team h4,
#team p {
  color: #fff;
}

#team > p {
  font-size: 1.25rem;
  line-height: 2rem;
  text-align: center;
  margin: 2rem 0;
}

.team-wrapper {
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
  justify-content: space-around;
  padding: 0 5vw 2rem 5vw;
}

.team-item {
  text-align: center;
  padding: 2rem;
  background: rgba(255, 255, 255, 0.05);
  border-radius: 5px;
  border: 1px solid rgba(255, 255, 255, 0.2);
  transition: all 0.25s ease-in;
}

.team-item:hover {
  background: rgba(255, 255, 255, 0.2);
  box-shadow: 2px 2px 20px 0px rgba(0, 0, 0, 0.3);
}

.team-item > img {
  border-radius: 50%;
  max-width: 200px;
}

.team-item h3 {
  margin: 1rem 0;
}

.team-item p {
  font-size: 1.5rem;
}

/*
    Contact Section Styling
*/
